*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
form{
    width: 25%;
    position: absolute;
    left: 23%;
    top: 18%;
}
.tableau{
    width: 49% !important;
    position: absolute;
    left: 50%;
    top: 18%;
}
